*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: grey;
    width: 30%;
    margin: 10rem auto;
    height: 80vh;
    padding:2rem;
}

h1{
    font-size: 40px;
    padding-left: 25px;
    margin-bottom: 10px;
}

input{
    width: 70%;
    margin: 10px;
    height: 80%;
    border: none;
    border-radius: 1px;
    padding: 6px;
}

label{
    font-size: 20px;
}

button{
    width: 20%;
    height: 30px;
    background-color: blue;
    border: none;
    margin: 10px;
    color: white;
    border-radius: 10%;
}

button:hover{
    background-color: black;
    color: white;
}

p{
    font-size: 20px;
}